.header__lang-item{
    display: flex;
    width: fit-content;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    list-style-type: none;
    padding-bottom: 2px;
}
@media all and (max-width: 768px) {
    .header__lang-item{
        font-size: 18px;
        line-height: 20px;
    }
}