.article{
    display: grid;
    grid-template-areas:
    "title props"
    "img text";
    width: 100%;
    gap: 24px;
    padding-top: 80px;
}
@media all and (max-width: 1025px){
    .article{
        gap: 31px;
    }
}
@media all and (max-width: 769px){
    .article{
        gap: 31px;
        padding-top: 65px;
    }
}
@media all and (max-width: 321px){
    .article{
        grid-template-areas:
        "title"
        "props"
        "img"
        "text";
        gap: 31px;
    }
}