.article{
    display: grid;
    grid-template-areas:
    "title props"
    "img text";
    width: 100%;
    margin-top: 92px;
    gap: 24px;
}
@media all and (max-width: 768px){
    .article{
        grid-template-areas:
                "title"
                "props"
                "img"
                "text";
    }
}
