.article__paragraph{
  padding-bottom: 25px;
  margin: 0;
}
@media all and (max-width: 1025px){
  .article__paragraph{
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
@media all and (max-width: 769px){
  .article__paragraph{
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
@media all and (max-width: 321px){
  .article__paragraph{
  }
}
