.footer__menu{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    gap: 18px;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 321px) {
    .footer__menu{
        grid-auto-flow: row;
        gap: 32px;
    }
}
