.article__text{
    grid-area: text;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.63em;
}
@media all and (max-width: 769px){
    .article__text{
        max-width: 352px;
        font-size: 16px;
        line-height: 1.63em;
    }
}
@media all and (max-width: 521px){
    .article__text{
        max-width: 288px;
        margin: auto;
        line-height: 1.62em;
    }
}