.header__description-text{
    max-width: 690px;
    font-family: Inter;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    padding-top: 40px;
    margin: 0;
}
@media all and (max-width: 768px){
    .header__description-text{
        max-width: 288px;
    }
}
@media all and (max-width: 1024px){
    .header__description-text{
        max-width: 720px;
    }
}