.places__list{
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}
@media all and (max-width: 321px){
    .places__list{
        gap: 11px;
    }
}
