.footer__text{
    color: #FFFFFF;
    width: 50%;
    margin: auto;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 20%;
    z-index: 1;
}