.footer__copyright{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 24px auto;
    align-self: start;
}
@media all and (max-width: 520px) {
    .footer__copyright{
        padding-left: 16px;
        flex-direction: column;
        width: fit-content;
        margin: 0;
    }
}
