.article__img{
    grid-area: img;
    width: 100%;
    max-width: 460px;
    padding-top: 23px;
}
@media all and (min-width: 1024px){
    .article__img{
        padding-left: 148px;
    }
}
@media all and (max-width: 768px){
  .article__img{
    max-width: 100%;
  }
}
