.intro__text{
  max-width: 690px;
  font-family: "Inter", "Arial ", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  padding-top: 40px;
  margin: 0;
}

@media all and (max-width: 1024px){
  .intro__text{
    max-width: 720px;
  }
}
@media all and (max-width: 769px){
  .intro__text{
    line-height: 162%;
  }
}
@media all and (max-width: 520px){
  .intro__text{
    max-width: 320px;
  }
}
