.cover{
  margin-top: 92px;
  width: 100%;
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 769px) {
  .cover{
    margin-top: 70px;
  }
}
@media all and (max-width: 520px) {
  .cover{
    margin-top: 53px;
  }
}