.articles{
    margin: 15px auto 0 auto;
    max-width: 984px;
}
@media all and (max-width: 1025px){
    .articles{
        max-width: 928px;
    }
}
@media all and (max-width: 769px){
    .articles{
        max-width: 720px;
    }
}
@media all and (max-width: 520px){
    .articles{
        margin: 37px auto 0 auto;
    }
}