.footer__row{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin-bottom: 24px;
    margin-left: 48px;
    align-self: start;
}
@media all and (max-width: 768px) {
    .footer__row{
        margin-left: 16px;
        flex-direction: column;
    }
}