.article__props-link{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: underline;
    transition: opacity 0.3s linear;
}
.article__props-link:hover{
    opacity: 0.8;
    cursor: pointer;
}
