.cover__title{
    margin: auto;
    padding-top: 20%;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    text-decoration: none;
}
@media all and (max-width: 768px) {
    .footer__title{
        font-size: 32px;
        line-height: 1.09em;
    }
}
