.footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 92px auto 0 auto;
    max-width: 1184px;
}
@media all and (max-width: 1024px) {
    .footer{
        min-height: 640px;
    }
}
@media all and (max-width: 768px) {
    .footer{
        min-height: 480px;
    }
}
@media all and (max-width: 320px) {
    .footer{
        min-height: 200px;
    }
}